/* Use 75% screen size to get better view in web mode  */
/* Common styles 
-------------- */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&family=Work+Sans:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.primary-color {
    color: #FF900E;
}

.dark1 {
    color: #131313;
}

.dark3 {
    color: #727272;
}

.primary-btn {
    width: 180px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    /* padding: 20px 25px; */
    background-color: #FF900E;
    border: none;
    border-radius: 5px;
}
.primary-btn:hover{
    cursor: pointer;
}

/* Header section */
.header {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 144, 14, 0.1);
}

.website-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    text-align: center;
    color: #131313;

    margin-left: 228px;
    margin-top: 50px;
}

.nav-menu {
    display: flex;
    margin-top: 63px;
    margin-right: 240px;
}

.nav-menu li {
    list-style: none;
    margin-right: 26px;
}

.nav-menu a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    /* text-align: center; */
    color: #424242;
}

/* Main section 
--------------*/

/* Section-1
-----------*/
.section-1 {
    display: flex;
    flex-direction: column;
    background: rgba(255, 144, 14, 0.1);
}

.section1-content {
    /* margin: auto; */
}

.section1-title {
    font-weight: 700;
    /* font-size: 64px; */
    font-size: 50px;
    line-height: 75px;
    text-align: center;
    color: #131313;

    margin: 102px 529px 20px 529px;
}

.section1-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
    /* margin: 1px 529px 32px 529px; */
    margin: 1px 350px 32px 350px;
}

.section1-btn {

    margin: 1px 668px;
    /* margin: 1px 870px; */

}

.section1-img {
    margin: 47px 240px;

    align-self: center;
}

/* Section-2 Quick feature 
-------------------------*/
.section-2 {
    display: flex;
    /* margin-bottom: 103px; */
}

.section2-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    /* margin-left: 301px; */
    margin-left: 180px;
    margin-top: 85px;
}

.section2-contents {
    margin-top: 287px;
    margin-left: 73px;
}

.section2-title {
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
}

.section2-details {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    /* margin: 24px 301px 32px 0px; */
    margin: 24px 120px 32px 0px;
}

.section2-btn {
    width: 180px;
    height: 64px;
}

/* Section-3 feature you will love and enjoy
------------------------------------------- */

.section-3 {
    display: flex;
    margin-top: 103px;
    /* margin: 103px 0px 169px 240px; */
    margin: 103px 0px 169px 140px;
}

.section3-contents {
    /* margin: 10px 54px 169px 240px; */
    /* margin-right: 146px; */
    margin-right: 44px;

    width: 586px;
    height: 982px;
}

.vertical {
    border-left: 6px solid #FF900E;
    height: 109px;
    position: absolute;
    /* left: 243px; */
    left: 143px;
}

.section3-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
    margin-bottom: 24px;
    margin-left: 21px;
}

.section3-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 30px;
}

.section3-content {
    margin-bottom: 20px;
    padding: 30px 42px 30px 30px;
}

.contect-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #131313;
    margin-bottom: 10px;
}

.content-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

.section3-img {
    width: 708px;
    height: 982px;
}

.section3-experience {
    padding-top: 43px;
    font-weight: 700;
    font-size: 65px;
    text-align: center;
    color: #FFFFFF;


    width: 342px;
    height: 170px;
    background: #FF900E;
    border-radius: 8px;

    position: relative;
    bottom: 217px;
}

.section3-experience h6 {
    font-weight: 600;
    font-size: 20px;
}


/* Section-4 Some facts
---------------------- */
.section-4 {}

.section4-details {
    margin-left: 240px;
    margin-bottom: 100px;
}

.section4-title,
.section5-title,
.goal-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;

}

.section4-description,
.section5-description,
.goal-description {
    margin-top: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    width: 542px;
    height: 52px;
}

.section4-facts {
    margin-left: 290px;
    display: flex;

}

.fact {
    width: 169px;
    height: 136.22px;
    padding: 45px 35px 50px;
    text-align: center;

    border: 1px solid #FF900E;
    border-radius: 8px;
    margin-right: 124px;
}

.fact h3 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 45px;
    color: #424242;
}

.fact p {
    font-weight: 600;
    font-size: 20px;
    color: #727272;
}


/* Section-4-goal
---------------- */
.section-4-goal {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 120px 0px 10px 0px;
}

.goal-contents {
    text-align: center;
}

.goal-description {
    margin-bottom: 10px;
}

.goal-btns {
    margin-top: 35px;
}

.goal-btn {
    margin-right: 10px;
}

/* section-5 Sponspors 
--------------------- */
.section5-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 50px;
}

.section5-title {

    /* some styles are common with section-4 */
    margin-top: 180px;
}

.section5-sponsors {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    /* margin: 1px 240px 130px 240px; */
    margin: 1px 240px 130px 140px;
}

.sponsors-img {
    margin-right: 100px;
    /* margin-right: 150px; */
}

.sponsors-img img {
    /* learn from google */
    filter: grayscale(1);
}

/* Footer section
-----------------*/
.footer {
    width: 1440px;
    width: 1210px;
    height: 100px;
    background: #FFF4E7;
    border-radius: 8px;
    /* margin-left: 10px; */
    margin-left: 240px;
    margin-left: 143px;
    margin-bottom: 216px;

}

.copywrite-alert {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #424242;
    /* padding: 39px 410px; */
    padding: 39px 0px;
    margin-left: 10px;
}

/* Animation
------------ */
@keyframes move {
    
}

/*----------------
   Media Quaries
 Responsive desing 
 -----------------*/

@media screen and (max-width: 688px) {

    .header,
    .section-2,
    .section-3 {
        flex-direction: column;
    }

    .website-title {
        margin: 10px auto;
    }

    .nav-menu {
        flex-direction: column;
        margin: 15px auto;
        align-items: center;
    }

    .section1-title {
        font-size: 45px;
        line-height: normal;
    }

    .section1-description,
    .section1-title,
    .section1-btn,
    .section1-img,
    .section2-contents,
    .section2-details {
        margin: 15px auto;
    }

    .section1-img img,
    .section2-images {
        width: 100%;
        height: 100%;
        margin: 10px;
    }

    .section2-images {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

    .section1-content,
    .section2-contents {
        text-align: center;
    }


    .section-3,
    .section3-contents,
    .contect-title,
    .content-description,
    .section4-details {
        margin: 10px;
    }

    .vertical {
        left: 10px;
    }

    .section3-img,
    .section3-img img,
    .section3-contents {
        width: 100%;
        height: auto;
    }

    .section4-description,
    .section5-description,
    .goal-description {
        width: auto;

    }

    .section4-description {
        margin-bottom: 30px;
    }

    .section4-facts,
    .section5-sponsors {
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .fact {
        margin: 10px;
        width: auto;
    }

    .sponsors-img {
        margin: 20px 5px 10px 20px;
    }

    .footer {
        width: 100%;
        height: 100px;
        margin: auto;
        /* margin-bottom: 222px; */

    }

    .copywrite-alert {
        margin: auto;
        padding-top: 25px;
    }

    .primary-btn {
        margin: 20px auto;
    }

}